.profile {
    background-color: aqua;
}
.description {
    text-align: center;
}
.avatar {
    display: block;
}
.name {
    margin: 0 auto 15px;
    font-weight: bold;
}
.tag {
    margin: 0 auto 15px;
}
.location {
    margin: 0 auto 15px;
}
.stats {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.stats__item {
    display: flex;
    flex-direction: column;
}
.label {

}
.quantity {
    
}